.flex {
  display: flex;
}
.jc {
  justify-content: center;
}
.ic {
  align-items: center;
}
.pt-10 {
  padding-top: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-30 {
  margin-left: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.p-10 {
  padding: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.tit {
  color: #4d8be3;
  font-size: 18px;
  font-weight: 500;
}

.btn {
  padding: 5px 10px;
  background: #316fe7;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 16px;
  border: none;
}

textarea {
  width: 25vw;
  height: 80vh;
  border: 1px solid #808080;
  white-space: pre-wrap;
}
